:root {
    --back:#61b876;
    --line:lightgray;
    --lodges-back: rgb(238, 238, 238);
    --hover-back: rgb(255, 255, 255);
}

body {
    margin: 0;
}

#goatHead {
    max-height: 80px;
    vertical-align: middle;
}

header {
    text-align: center;
    height: 160px;
    background: linear-gradient(0deg,rgb(219, 219, 219) 0%, rgba(255, 255, 255, 0) 30%);
}

h1 {
    padding-top: 20px;
    font-family: "Rammetto One", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

.titleLetter:hover {
    font-size: 50px;
    transition: 0.7s ease-out;
}
.titleLetter {
    transition: 0.5s ease-out;
}

main {
    background-color: white;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    font-family:  "Roboto", sans-serif;
    font-weight: 500;
    transform: translateY(-30px);
}

#intro {
    padding: 20px 30px 20px 30px;
}

#filters {
    display: flex;
}

.filter {
    margin: 5px;
}

.filterButton {
    position: relative;
    vertical-align: middle;
    box-shadow: inset 0 0 5px 3px rgba(0,0,0,0.2);
    border: none;
    width: 70px;
    height: 30px;
    padding: 0;
    border-radius: 30px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.circle {
    position: absolute;
    left: 14px;
    transform: translate(-50%,-50%);
    height: 28px;
    width: 28px;
    background-color: white;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.6);
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* margin-left: 0;
    margin-right: 100%; */
    transition: 0.3s ease-out;
}

.logo {
    transform: scale(0.8);
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(0);
}

#lodges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    background: linear-gradient(0deg,rgb(219, 219, 219) 0%, rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0) 97%, rgb(219, 219, 219) 100%);
    background-color: var(--lodges-back);

}

.lodgeBox {
    width: 20%;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.lodgeBox * {
    transition: 0.3s ease-out;
}

.lodgeBox:hover {
    background-color: var(--hover-back);
}
.lodgeBox:hover /*.lodgeImg, .lodgeBox:hover .location*/ {
    transform: translateY(-5px);
}

.lodgeBox:hover .location span {
    background-color: var(--hover-back);
    transition: 0.3s ease-out;
}

.lodgeImg {
    /* object-fit: cover;
    min-width: 200px;
    max-width: 400px; */
    overflow-clip-margin: content-box;
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    filter: drop-shadow(0 0 0.5rem rgb(133, 133, 133));
    z-index: 3;
}

#alpesImg {
    object-position: right 70%;
}

.lodgeBox p:not(.location) {
    margin: 0;
}

.location {
    text-align: center;
    position: relative;
    margin: 5px 0 10px 0;
}
.location span {
    position: relative;
    background-color: var(--lodges-back);
    transition: 0.3s ease-out;
    z-index: 2;
}

.location:before {
    content: "";
    display: block;
    width: 45%;
    left: 0;
    top: 50%;
    background-color: var(--line);
    height: 1px;
    position: absolute;
    z-index: 1;
}
.location:after {
    content: "";
    display: block;
    width: 45%;
    right: 0;
    top: 50%;
    background-color: var(--line);
    height: 1px;
    position: absolute;
    z-index: 1;
}

.breakfast {
    float: right;
    width: 50%;
}
.sheet {
    float: left;
    width: 50%;
}

#outro {
    padding: 20px 30px 20px 30px;
}